.App {
  text-align: center;
  background-color: #add6ff;
  height: auto;
  width: auto;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My css */

.MainContainer {
  width: 100%;
  display: flex;
}

.basic_config {
  margin: 5px;
  padding: 10px;
}

.basic_config_2 {
  margin: 20px;
  padding: 0px;
}
.basic_config_3 {
  margin: 5px;
  padding: 5px;
}

.basic_config_4 {
  margin-top: 20px;
  margin-right: 20px;
  padding: 0;
}

.basic_config_5 {
  margin-bottom: 10px;
  /* margin-right: 20px;
  margin-left: 20px; */
  padding: 0;
}
.border_color {
  /* border: 1px solid black; */
}
.center {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.scroll_main {
  max-height: 640px;
  margin: 20px;
  width: 95%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.scroll_side {
  max-height: 1420px;
  width: 90%;
  overflow: scroll;
  /* -webkit-overflow-scrolling: touch; */
}

.scroll_mid {
  max-height: 820px;
  width: 90%;
  overflow: scroll;
  margin: 5px;
}

.status {
  width: 65%;
  position: absolute;
}

.card_header {
  /* background-color: #fe4a49;  border: 3px solid green; */
  background-color: #fed766;
  /* text-align: center; */
  font-size: large;
  height: 40px;
  margin: auto;
  width: 100%;
  padding: 10px;
}
.story_header {
  background-color: #fed766;
  /* text-align: center; */
  font-size: large;
  height: 80px;
  margin: auto;
  width: 100%;
  padding: 20px;
}

.card_text {
  background-color: #add6ff;
  /* background-color: #fe4a49; */
  text-align: center;
  padding: 10px;
}

.card_body {
  text-align: center;
  font-size: large;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

.card_color {
  background-color: #2ab7ca;
  border: 3px solid #2ab7ca;
}

.news_body {
  /* border: 3px solid #fed766; */
  background-color: #2ab7ca;
}

.news_title {
  text-align: left;
  margin: auto;
  padding: 10px;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #fed766;
  /* #fe4a49; */
}

.news_text {
  text-align: justify;
  margin: auto;
  padding: 10px;
}

.searchbar {
  margin: 10px;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 80%;
  caret-color: red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}
.pull-right {
  height: 40px;
  width: 80px;
  text-align: right;
}

img {
  height: 300px;
  width: 500px;
  padding: 10px;
  margin: auto;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}
